/*
    ! All File Structure
    -------------------
    // index
    ? Fonts
    ? Imports

    // Vars
    ? Vars
    ? Devices Responsive

    // Base
    ? Base
        * body
        * html
        * Scroll Bar

    // Components
    ? Components
        * Navbar dropdown
        * Navbar
        * Footer
        * Movies Row
        * Movie Details
        * Movie Model
        * Image Slider

    // Pages
    ? Hero
    ? Pages
        * Login
        * Search
        * not found
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #111111;
}

html {
  font-size: 62.5%;
  font-family: "Inter", serif;
  font-weight: 500;
}
@media only screen and (max-width: 425px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(248, 6, 22, 0.8705882353);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e21221;
  cursor: pointer;
}

.hero {
  background-color: #111111;
  position: relative;
  padding-top: 56.25%;
  color: #fff;
}
@media only screen and (max-width: 425px) {
  .hero {
    padding-top: 0;
    height: 40rem;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    padding-top: 0;
    height: 72rem;
  }
}
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}
@media only screen and (max-width: 425px) {
  .hero-video {
    width: 100vw;
  }
}
@media only screen and (max-width: 768px) {
  .hero-video {
    width: 100vw;
  }
}
.hero-heading {
  font-size: 6rem;
  position: absolute;
  color: #fff;
  top: 12rem;
  left: 3.5rem;
}
@media only screen and (max-width: 425px) {
  .hero-heading {
    top: 8.5rem;
    font-size: 3rem;
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .hero-heading {
    top: 8.5rem;
    font-size: 3rem;
    width: 50%;
  }
}
.hero-btnContainer {
  display: flex;
  position: absolute;
  top: 24rem;
  left: 4rem;
}
@media only screen and (max-width: 425px) {
  .hero-btnContainer {
    top: 37rem;
  }
}
@media only screen and (max-width: 768px) {
  .hero-btnContainer {
    top: 15rem;
  }
}
.hero-btnPlayer, .hero-btnMyList {
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  margin-right: 1rem;
  padding-top: 1rem;
  background-color: rgba(53, 46, 46, 0.5);
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  filter: blur(0.5px);
}
.hero-btnPlayer:hover, .hero-btnMyList:hover {
  background-color: rgb(37, 37, 37);
}
.hero-btnMyList-add, .hero-btnPlayer-play {
  margin: 5px;
  color: #fff;
  height: auto;
  max-width: 100%;
  width: 25px;
}
.hero-overview {
  top: 28rem;
  left: 4rem;
  position: absolute;
  color: #fff;
  width: 90%;
  line-height: 1.3;
  padding-top: 2.5rem;
  font-size: 1.8rem;
}
@media only screen and (max-width: 425px) {
  .hero-overview {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .hero-overview {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .hero-overview {
    display: none;
  }
}
.hero-imgContainer {
  position: absolute;
  top: 47rem;
  margin-left: 5rem;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 425px) {
  .hero-imgContainer {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .hero-imgContainer {
    top: 22rem;
  }
}
@media only screen and (max-width: 1024px) {
  .hero-imgContainer {
    top: 30rem;
  }
}
.hero-img {
  border-radius: 15px;
}
@media only screen and (max-width: 768px) {
  .hero-img {
    height: auto;
    max-width: 100%;
    width: 330px;
  }
}
@media only screen and (max-width: 768px) {
  .hero-img {
    height: auto;
    max-width: 100%;
    width: 250px;
  }
}
@media only screen and (max-width: 1024px) {
  .hero-img {
    height: auto;
    max-width: 100%;
    width: 350px;
  }
}
.hero-btnWatch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #171818;
  color: #b9b9b9;
  border: none;
  padding: 15px;
  border-radius: 50px;
  position: relative;
  left: -50px;
  border: 2px solid black;
}
.hero-btnWatch:hover {
  border: 2px solid red;
  background-color: #e21221;
  color: #fff;
  cursor: pointer;
}
.hero-fadeBottom {
  position: absolute;
  bottom: 43rem;
  height: 10rem;
  width: 100%;
  background-image: linear-gradient(180deg, transparent, rgba(15, 15, 15, 0.61), rgb(17, 17, 17), rgb(17, 17, 17));
}
@media only screen and (max-width: 425px) {
  .hero-fadeBottom {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .hero-fadeBottom {
    bottom: 17rem;
  }
}
.hero-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background-image: url("/BG.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-blackBG {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  position: absolute;
  opacity: 0.5;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-logo {
  background: rgb(0, 0, 0);
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(38, 38, 38) 50%, rgb(74, 74, 74) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.75);
  transform: rotate(45deg);
}
.login-logo-img {
  height: auto;
  max-width: 100%;
  width: 80px;
}
.login-btn {
  width: 150%;
  position: relative;
  bottom: -7rem;
  color: rgb(221, 218, 218);
  background-color: rgba(248, 6, 22, 0.8705882353);
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 5px;
  font-size: large;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.login-icon {
  height: auto;
  max-width: 100%;
  width: 40px;
  margin-right: 10px;
}
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 10rem;
  height: -moz-fit-content;
  height: fit-content;
}

.moviesSearch {
  background-color: #111111;
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 5px;
}
@media only screen and (max-width: 768px) {
  .moviesSearch {
    width: 80%;
  }
}
@media only screen and (max-width: 425px) {
  .moviesSearch {
    width: 70%;
  }
}
.moviesSearch-movie {
  width: 300px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.moviesSearch-movie:hover {
  transform: scale(1.1);
}
.moviesSearch-img {
  height: 700px;
  max-width: 100%;
  width: 300px;
  border-radius: 10px;
}

.noResults {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noResults-box {
  border: 2px solid #171818;
  height: 50vh;
  width: 50vw;
  padding: 5rem;
  border-radius: 15px;
}
@media only screen and (max-width: 425px) {
  .noResults-box {
    height: 80vh;
    width: 90vw;
  }
}
.noResults-text {
  font-size: x-large;
  color: rgb(221, 218, 218);
  margin-bottom: 3rem;
}
.noResults-subText {
  font-size: large;
  color: rgb(153, 153, 153);
}
.noResults-list {
  margin: 3rem;
}
.noResults-list-item {
  color: rgb(221, 218, 218);
  font-size: larger;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
.not-found-head {
  font-size: xx-large;
  width: 100%;
  text-align: center;
  color: rgb(221, 218, 218);
}
.not-found-logo {
  height: auto;
  max-width: 100%;
  width: 200px;
}

.dropdown {
  display: none;
  cursor: pointer;
  fill: #fff;
  height: 1rem;
  width: 1rem;
}

.dropdownContainer {
  height: 100%;
  justify-content: center;
  align-content: center;
  position: absolute;
  right: -8rem;
  top: 30px;
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  color: #fff;
  transition-delay: 0.5s;
  padding-left: 1rem;
  padding-top: 1.8rem;
  height: 27rem;
  border: 1px solid rgb(73, 73, 73);
  width: 28rem;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateY(4.6rem) translateX(-11rem);
  border-radius: 10px;
}
.dropdownContent-2 {
  height: 12rem;
  margin-top: 10px;
  border-radius: 10px;
}
.dropdownContent-text {
  color: pink;
  padding-top: 1.2rem;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .dropdownContent-text {
    padding-top: 0;
  }
}
.dropdownContent-text:hover {
  cursor: pointer;
}
.dropdownContent-textOutside {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  cursor: pointer;
}
.dropdownContent-user {
  height: 3rem;
  width: 3rem;
  border-radius: 5px;
  background-color: rgb(64, 168, 228);
}
.dropdownContent-user-2 {
  background-color: rgb(230, 145, 48);
}
.dropdownContent-user-3 {
  background-color: rgb(123, 230, 96);
}
.dropdownContent-user-text {
  width: 3rem;
  font-size: 1.2rem;
  text-align: center;
  transform: translateX(4rem) translateY(-2rem);
}
.dropdownContent-user-text:hover {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .dropdownContent-user {
    font-size: 2rem;
  }
}
.dropdownContent-currentUser {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin-right: 7px;
  margin-bottom: 7px;
}
.dropdownContent-currentUser-img {
  height: auto;
  max-width: 100%;
  width: 75px;
  border-radius: 100%;
}
.dropdownContent-currentUser-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.dropdownContent-currentUser-text {
  font-size: large;
  margin-left: 10px;
}
.dropdownContent-currentUser-text2 {
  margin-left: 10px;
}

.navbarContainer {
  box-shadow: 2px 2px 7px 6px rgba(0, 0, 0, 0.3);
  height: 65px;
  background-color: rgb(0, 0, 17);
  opacity: 0.9;
  background-color: transparent;
  z-index: 100;
  grid-column: 1/13;
  position: fixed;
  width: 100%;
  transition-timing-function: ease-in;
  transition: all 1s;
  top: 0;
  padding-bottom: 1.5rem;
}

.blackColor {
  background-color: #111111;
}

.navbarUl {
  background-color: transparent;
  display: flex;
  height: 6.7rem;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
@media only screen and (max-width: 425px) {
  .navbarUl {
    justify-content: center;
  }
}

.navbarLogo {
  max-width: 100%;
  height: auto;
  width: 100px;
  margin-right: 15px;
}
@media only screen and (max-width: 425px) {
  .navbarLogo {
    margin-right: 0;
  }
}

.navLink {
  font-weight: 500;
  font-size: 1.4rem;
  color: rgb(221, 221, 221);
  text-decoration: none;
  margin-right: 2rem;
  transition: all 0.2s;
  cursor: pointer;
}
.navLink:last-child {
  padding-right: 2.6rem;
}
.navLink:hover {
  color: rgb(167, 167, 167);
}
@media only screen and (max-width: 425px) {
  .navLink {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .navLink {
    display: none;
  }
}

.navSearch {
  flex-grow: 1;
  padding-right: 5rem;
  display: flex;
  padding: 3px;
  flex-direction: row-reverse;
  justify-content: flex-start;
  background-color: rgb(39, 39, 39);
  margin: 10px;
  border-radius: 18px;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0.7;
}
@media only screen and (max-width: 425px) {
  .navSearch {
    width: 100%;
  }
}
.navSearch_input {
  font-size: 1.4rem;
  color: #fff;
  border: none;
  outline: none;
  width: 0px;
  transition: width 0.5s;
  padding: 10px;
  opacity: 0;
  padding-right: 2rem;
  background: #111111;
  border: 1px solid #fff;
  transition: width 0.5s;
  cursor: pointer;
}
.navSearch_input:focus {
  padding-left: 4rem;
  width: 90%;
  cursor: text;
  opacity: 1;
}
@media only screen and (max-width: 425px) {
  .navSearch_input:focus {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .navSearch_input:focus {
    width: 80%;
  }
}
.navSearch:hover .navSearch_input {
  padding-left: 4rem;
  width: 90%;
  cursor: text;
  opacity: 1;
}
.navSearch_mark {
  max-width: 100%;
  height: auto;
  margin: 3px;
  width: 30px;
  background-color: #fff;
  border-radius: 20px;
  padding: 3px;
}

.navIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bell {
  background-color: #f00;
  border-radius: 10px;
  padding: 2px;
  cursor: pointer;
  margin: 2px;
}

.menu {
  background-color: rgb(179, 179, 179);
  border-radius: 10px;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
}

.mark {
  max-width: 100%;
  height: auto;
  width: 30px;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer {
  height: 200px;
  border-top: 3px solid #171818;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    height: 500px;
  }
}
.footer-container1 {
  margin-left: 50px;
}
@media only screen and (max-width: 425px) {
  .footer-container1 {
    margin-left: 10px;
  }
}
.footer-links {
  margin-top: -25px;
  padding: 10px;
}
.footer-links-link {
  color: rgb(221, 218, 218);
  font-size: large;
  margin: 3px;
}
.footer-logo {
  height: auto;
  max-width: 100%;
  width: 150px;
}
.footer-container2 {
  padding: 10px;
  height: 100px;
  width: 30%;
  border-radius: 12px;
  background: rgb(23, 24, 24);
  background: linear-gradient(180deg, rgb(23, 24, 24) 0%, rgb(17, 17, 17) 100%);
}
@media only screen and (max-width: 768px) {
  .footer-container2 {
    width: 50%;
  }
}
@media only screen and (max-width: 425px) {
  .footer-container2 {
    width: 80%;
  }
}
.footer-box {
  padding: 3rem;
}
.footer-text {
  margin: 8px;
  font-size: xx-large;
  color: rgb(221, 218, 218);
}
.footer-inputContainer {
  background-color: rgb(221, 218, 218);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.footer-input {
  border: none;
  outline: none;
  background-color: rgb(221, 218, 218);
  width: 100%;
  margin-left: 5px;
}
.footer-inputIcon {
  height: auto;
  max-width: 100%;
  width: 2rem;
}

.footerRights {
  color: rgb(221, 218, 218);
  text-align: center;
  width: 100%;
  margin-top: 7rem;
  font-size: medium;
}

.movies {
  background-color: #111111;
}
.movies-title {
  color: rgb(221, 218, 218);
  padding: 5px;
  margin: 5px;
  font-size: xx-large;
  text-align: center;
}
.movies-container {
  width: 98vw;
  overflow-x: scroll;
  display: flex;
  margin: 2px;
  overflow-y: hidden;
}
.movies-container::-webkit-scrollbar {
  display: none;
}
.movies-img {
  width: 300px;
  height: 500px;
  margin: 3px;
  cursor: pointer;
}
@media only screen and (max-width: 425px) {
  .movies-img {
    width: 150px;
    height: 250px;
  }
}
.movies-img:hover {
  transform: scale(1.1) !important;
  transition: all 450ms !important;
}

.movie {
  position: fixed;
  z-index: 500;
  width: 100%;
  top: 0;
  left: 0;
  color: #fff;
  height: 52rem;
  opacity: 0;
  box-shadow: 0 1.5rem 4rem rgba(23, 24, 24, 0.15);
  transition: all 0.3s;
}
@media only screen and (max-width: 425px) {
  .movie {
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media only screen and (max-width: 768px) {
  .movie {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.movie-container {
  background: linear-gradient(90deg, #000 50%, transparent);
  width: 70%;
  padding-top: 3rem;
  padding-left: 5rem;
  padding: 5rem;
  height: 100%;
}
@media only screen and (max-width: 950px) {
  .movie-container {
    background: linear-gradient(90deg, rgb(0, 0, 0) 55%, rgba(0, 0, 0, 0.733), transparent);
    width: 88%;
  }
}
@media only screen and (max-width: 768px) {
  .movie-container {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.966) 65%, transparent);
    width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  .movie-container {
    padding-top: 1rem;
    padding-left: 1rem;
  }
}
.movie-title {
  font-size: 4rem;
}
.movie-info {
  padding-top: 1.6rem;
  font-size: 2rem;
}
@media only screen and (max-width: 425px) {
  .movie-info {
    padding-top: 1.2rem;
  }
}
.movie-rating {
  font-size: 2rem;
  color: rgb(92, 223, 92);
}
.movie-episodes {
  padding-top: 0.5rem;
  font-size: 2rem;
}
.movie-overview {
  color: rgb(122, 122, 122);
  padding-top: 2rem;
  font-size: 2rem;
  -webkit-hyphens: auto;
          hyphens: auto;
  width: 60%;
  line-height: 1.2;
}
@media only screen and (max-width: 950px) {
  .movie-overview {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .movie-overview {
    width: 95%;
    color: rgba(255, 255, 255, 0.877);
  }
}
@media only screen and (max-width: 425px) {
  .movie-overview {
    padding-top: 1rem;
    font-size: 1.7rem;
  }
}
.movie-btnContaniner {
  display: flex;
}
.movie-btn {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 0.5px solid rgb(122, 122, 122);
  border-radius: 2px;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  transition: all 0.2s;
  display: flex;
  align-items: center;
}
.movie-btn:hover {
  transform: scale(1.09);
}
.movie-btn-Red {
  background-color: rgba(248, 6, 22, 0.8705882353);
  border: none;
}
.movie-btn-Icon {
  margin: 5px;
  color: #fff;
  height: auto;
  max-width: 100%;
  width: 25px;
}

.show {
  transition: 0.3s 0.3s ease-out;
  top: 10%;
  left: 0;
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  transition: 0.3s ease-out;
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
.backdrop {
  width: 120%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  animation: fadeIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  background-color: rgba(17, 17, 17, 0.7);
}

.imageSlide {
  border: 5px solid #171818;
  border-radius: 10px;
  height: 25.5rem;
  width: 520px;
  margin: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
@media only screen and (max-width: 768px) {
  .imageSlide {
    position: absolute;
    top: 43rem;
    height: 18rem;
  }
}
@media only screen and (max-width: 425px) {
  .imageSlide {
    width: 300px;
    top: 30rem;
  }
}
.imageSlide-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: slides 5s ease-in-out infinite;
}
@media only screen and (max-width: 425px) {
  .imageSlide-container {
    animation: slidesMobile 5s ease-in-out infinite;
  }
}
.imageSlide-img {
  height: 25rem;
  width: 520px;
}
@media only screen and (max-width: 425px) {
  .imageSlide-img {
    width: 300px;
  }
}

.imageSlide::-webkit-scrollbar {
  display: none;
}

@keyframes slides {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-520px);
  }
  to {
    transform: translateX(-1040px);
  }
}
@keyframes slidesMobile {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(-600px);
  }
}/*# sourceMappingURL=index.css.map */
